.wrapper{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: calc(var(--vh, 1vh) * 3.6);
}

.signature{
    text-align: right;
    font-size:  var(--font17px);
}

.leng_selector{
    font-size: var(--font22px);
}