.one__lesson__open__bg{
    position: absolute;
    top: -152.2%;
    left: -5.1%;
    width: 86vw;
    height: 93vh;
    background-color: rgba(0,0,0,0);
    font-family: 'Comfortaa';
    transition: background-color 0.5s ease-in;
    z-index: 3;
}
.main__form__bg{
    position: relative;
    margin: 13vh 6vw 8vh 18vw;
    z-index: 4;
    background-color: rgb(217, 217, 217);
    height: 72vh;
    width: 62vw;
    display: flex;
    border-radius: 0 0.4em 0.4em 0;
}
.main__form__bg img{
    width: 40px;
    height: 40px;
}
.main__form__bg__left{
    width: 60%;
    height: 100%;
    border-right: 1px solid black;
}
.main__form__bg__right{
    width: 40%;
    height: 100%;
}
.left__form__title{
    display: flex;
    align-items: center;
    height: 14%;
}
.left__form__title__text{
    font-size: 1.6vw;
    margin-left: 0.5em;
    margin-top: 0.8em;
    font-weight: 1000;
    /* letter-spacing: .01em; */
}
.left__form__title__image{
    display: flex;
    margin-top: 1em;
    justify-content: space-between;
    width: 18%;
    margin-left: 15%;
}
.left__form__title__image > img{
    width: 35px;
    height: 35px;
}
.left__form__title__border{
    position: absolute;
    width: 54%;
    height: 1px;
    background-color: black;
    top: 14%;
    left: 3%;
}

.left__form__content{
    overflow: hidden;
    height: 86%;
}
.left__form__content__title{
    display: flex;
    margin-top: 0.3em;
    margin-left: 0.5em;
    height: 10%;
    font-weight: 1000;
    font-size: 1.4vw;
}
.left__form__content__title__text{
    width: 68%;
    display: flex;
    align-items: center;
}
.left__form__content__title__time{
    display: flex;
    margin-top: -0.1em;
    align-items: center;
    justify-content: space-between;
    width: 27%;
}
.left__form__content__title__time > img{
    width: 27px;
    height: 27px;
}
.left__form__content__title__time__text{
    margin-top: 0.1em;
}
.left__form__content__theme{
    margin-left: 0.5em;
    height: 75%;
}
.left__form__content__theme__text{
    font-weight: 1000;
    line-height: 2em;
    font-size: 1.2vw;
}
.left__form__content__theme__title{
    width: 100%;
    text-align: center;
    font-weight: 1000;
    font-size: 1.2vw;
    margin-bottom: 0.5em;
}
.left__form__content__theme__description{
    text-align: justify;
    width: 95%;
    margin-left: 0.5em;
    line-height: 1.4em;
    font-size: 1vw;
    margin-bottom: 1em;
    height: 25%;
}
.left__form__content__theme__table{
    display: flex;
    font-size: 0.8vw;
    position: relative;
    height: 50%;
}
.left__form__content__theme__table__left{
    width: 40%;
}
.left__form__content__theme__table__border{
    position: absolute;
    width: 1px;
    background-color: black;
    top: 0%;
    left: 40%;
    height: 20vh;
}
.left__form__content__theme__table__left__title{
    margin-bottom: 1em;
    font-weight: 1000;
}
.left__form__content__theme__table__left__object{
    line-height: 1.6em;
    margin-left: 0.8em;
}
.left__form__content__theme__table__left__object > b{
    font-size: 1.3vw;
    display: inline-block;
    transform: translate(-50%, 20%);
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.left__form__content__theme__table__right{
    margin-left: 3em;
}
.left__form__content__theme__table__right__task{
    height: 50%;
}